/* Marco Cossio*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1, h2, h3 {
    font-family: 'Molle', serif;
    color: #000000;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
p, q, small, nav, button, form {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 0;
    margin: 0;
}


header {
    background-color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#logo img {
    max-width: 100%;
    height: auto;
}
header h1 {
    margin: 10px 0;
}


nav {
    background-color: #F6D64A; 
}

#menu-toggle {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#menu-toggle label {
    background-color: #F6D64A; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#menu-toggle ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

#menu-toggle li {
    margin: 0 15px; 
}

#menu-toggle a {
    color: #000000; 
    background-color: #FFFFFF; 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    padding: 10px; 
    display: block; 
    border-radius: 5px; 
}


#menu-toggle .active a {
    color: #F6D64A; 
    background-color: #FFFFFF; 
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
nav ul li a {
    color: #000000; 
    text-decoration: none;
}


#main-content {
    padding: 10px;
}


#plan {
    background-color: #F6D64A; 
    padding: 10px;
}
#plan section {
    background-color: #55BCD5; 
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#plan img {
    max-width: 100%;
    height: auto;
}


#about {
    background-color: #499BD2; 
    color: #FFFFFF; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about section {
    margin: 10px 0;
}

#menuToggle {
    display: none;
}

#menuToggle:checked + label + nav {
    left: 0;
    transition: 0.3s;
}

#contact {
    padding: 20px;
    background-color: #FFFFFF; 
}
#contact form {
    background-color: #FFFFFF; 
    color: #222222; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#contact .custom-select select {
    background-color: #9B26B0; 
    color: #FFFFFF; 
}
#contact input[type="submit"] {
    background-color: #9B26B0; 
    color: #FFFFFF; 
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}


footer {
    background-color: #EAEAEA;
    color: #000000;
    text-align: center;
    padding: 10px;
}
footer a {
    color: #000000;
    text-decoration: none;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block; 
    }

    #menu-toggle label {
        display: block; 
    }

    #menu-toggle ul {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        background-color: #FFFFFF; 
    }

    #menu-toggle input:checked + label + ul {
        display: flex; 
    }

    #menu-toggle li {
        margin: 0; 
    }

    #menu-toggle a {
        padding: 15px; 
        text-align: center; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    header {
        flex-direction: row; 
        align-items: center;
        padding: 10px 20px;
    }

    h1 {
        font-size: 1.8em; 
    }

    p {
        font-size: 1em; 
    }

    
    #menu-toggle {
        display: block; 
    }

    nav ul {
        display: flex; 
        justify-content: center; 
    }

    nav li {
        margin: 0 10px; 
    }

    nav a {
        padding: 10px 15px; 
    }

    #menu-toggle label {
        display: none; 
    }

    #img-grid {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
    }

    #img-grid img {
        max-width: 100%; 
        height: auto; 
    }


    #plan {
        background-color: #F6D64A; 
        padding: 20px;
    }

    #plan div {
        display: flex;
        flex-wrap: wrap; 
    }

    #plan section {
        flex: 1 1 200px; 
        text-align: center; 
    }

    #plan a img {
        max-width: 100%; 
    }

    #testimonials div {
        display: flex;
        flex-wrap: wrap; 
        gap: 15px; 
    }

    #testimonials section {
        flex: 1 1 200px; 
        text-align: center; 
    }

    #testimonials img {
        width: 100px; 
        height: auto; 
        border-radius: 50%; 
    }

    #about {
        background-color: #499BD2; 
        color: #FFFFFF; 
        padding: 20px;
    }

    #about div {
        display: flex;
        flex-wrap: wrap; 

    }

    #about section {
        flex: 1 1 200px;
        text-align: center; 
    }

    #about img {
        width: 40px; 
        height: auto;
    }

    form {
        padding: 20px;
        border: 1px solid #9B26B0; 
        border-radius: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        padding: 10px;
        font-size: 0.9em;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 1em; 
    }

    footer {
        padding: 20px;
        background-color: #EAEAEA; 
        text-align: center; 
    }


    
}